// colors
$primary: #cca4ff;
$bg-color: #36393f;
$color: #dcddde;
$bold-color: #fff;
$banner-bg-color: #202225;
$code-bg-color: #333;
$grey-line-color: #808080;
$highlight-speed: .3s;

@mixin bold {
    font-weight: bold;
    color: $bold-color;
}

html,
body,
#app {
    height: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: $bg-color;
    color: $color;
    margin: 0;
    padding: 0;
}

a {
    color: $primary;
    text-decoration: none;
    :hover {
        text-decoration: underline;
    }
}

code {
    font-family: 'Consolas', monospace;
    font-size: .8rem;
    background-color: $code-bg-color;
    padding: 2px 4px;
    display: inline-flex;
    border-radius: 2px;
    margin: 0 2px;
}

h1, h2, h3, h4, h5, h6 {
    @include bold;
    margin: 8px 0;
}

ul {
    margin: 0;
    padding: 0 0 0 32px;
    list-style-type: none;
    > li:before {
        display: inline-block;
        content: "-";
        width: 1rem;
        margin-left: -1rem;
    }
}

#app {
    display: flex;
    flex-direction: column;
}

#nav {
    background-color: $banner-bg-color;
    padding: 16px 0;

    $avatar-size: 80px;
    $avatar-border: 3px;
    .avatar {
        position: absolute;
        top: 2px;
        height: $avatar-size;
        width: $avatar-size;
        border: $avatar-border solid $primary;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .name {
        @include bold;
        font-size: 1.2rem;
        margin-left: $avatar-size + 2 * $avatar-border + 16px;
    }
}

.set-width {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}

#content {
    padding: 24px 0;
}

.command {
    margin-bottom: 12px;
    &:hover .command__body {
        border-left-color: $primary;
    }
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }
    &__title {
        color: $bold-color;
    }
    &__body {
        padding: 4px 8px;
        border-left: 2px solid $grey-line-color;
        transition: border-left-color $highlight-speed;
    }
}

.subcommand {
    display: flex;
    flex-direction: column;
    &:hover .subcommand__title {
        border-bottom-color: $primary;
    }
    &__title {
        @include bold;
        align-self: flex-start;
        font-size: 0.8rem;
        margin: 4px 0;
        border-bottom: 2px solid $grey-line-color;
        transition: border-bottom-color $highlight-speed;
    }
}

.badge {
    background-color: $primary;
    color: $banner-bg-color;
    border-radius: 2px;
    font-size: .8rem;
    font-weight: bold;
    padding: 2px 4px;
    margin-left: 8px;
    text-transform: uppercase;
    cursor: help;
}

// helper classes
.flex {
    display: flex;
    margin: auto;
}
.ml-auto {
    margin-left: auto;
}
