// colors
$primary: #cca4ff;
$bg-color: #36393f;
$color: #dcddde;
$bold-color: #fff;
$banner-bg-color: #202225;

html,
body,
#app {
    height: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: $bg-color;
    color: $color;
    margin: 0;
    padding: 0;
}

a {
    color: $primary;
    text-decoration: none;
    :hover {
        text-decoration: underline;
    }
}

h1 {
    margin: 8px 0;
    font-size: 2em;
    font-weight: bold;
    color: $bold-color;
}

#app {
    display: flex;
    flex-direction: column;
}

#nav {
    background-color: $banner-bg-color;
    padding: 16px 0;

    $avatar-size: 80px;
    $avatar-border: 3px;
    .avatar {
        position: absolute;
        top: 0;
        height: $avatar-size;
        width: $avatar-size;
        border: $avatar-border solid $primary;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .name {
        color: $bold-color;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: $avatar-size + 2 * $avatar-border + 16px;
    }
}

.set-width {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}

#content {
    padding: 16px 0;
}

.command {
    margin: 4px 0;
    > strong {
        color: $bold-color;
    }
}

// helper classes
.flex {
    display: flex;
    margin: auto;
}
.ml-auto {
    margin-left: auto;
}
