<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lilith</title>
        <meta name="theme-color" content="#cca4ff">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id="app">
            <div id="nav">
                <div class="set-width">
                    <img class="avatar" src="./avatar.PNG">
                    <div class="flex">
                        <div class="name">Lilith</div>
                        <a href="https://github.com/mattpilla/Lilith" class="ml-auto">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="set-width">
                <div id="content">
                    <h2>Commands</h2>
                    <div
                        v-for="command in commands"
                        class="command">
                        <div class="command__header">
                            <span class="command__title">.{{command.name}}</span>
                            <span
                                v-if="command.adminOnly"
                                title="Only the bot's admins can use this command."
                                class="badge">
                                admin
                            </span>
                            <span
                                v-if="command.guildOnly"
                                title="This command can only be used in a server (not in DMs)."
                                class="badge">
                                server
                            </span>
                        </div>
                        <div class="command__body">
                            <span v-html="command.description"></span>
                        </div>
                    </div>
                    <h3>Extra Commands</h3>
                    <div
                        v-for="command in extraCommands"
                        class="command">
                        <div class="command__header">{{command.name}}</div>
                        <div class="command__body">
                            <span v-html="command.description"></span>
                        </div>
                    </div>
                    <h2>Events</h2>
                    <div
                        v-for="event in events"
                        class="command">
                        <div class="command__header">{{event.name}}</div>
                        <div class="command__body">
                            <span v-html="event.description"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
        <script src="data.js"></script>
        <script src="app.js"></script>
        <noscript>welcome to the good version of this site</noscript>
    </body>
</html>
